<!-- <p id="notice"><%= notice %></p>

<h1>Listing Product Sorts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_sorts.each do |product_sort| %>
      <tr>
        <td><%= link_to 'Show', product_sort %></td>
        <td><%= link_to 'Edit', edit_product_sort_path(product_sort) %></td>
        <td><%= link_to 'Destroy', product_sort, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product sort', new_product_sort_path %>
 -->