<p id="notice"><%= notice %></p>

<h1>Listing Ranks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ranks.each do |rank| %>
      <tr>
        <td><%= link_to 'Show', rank %></td>
        <td><%= link_to 'Edit', edit_rank_path(rank) %></td>
        <td><%= link_to 'Destroy', rank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rank', new_rank_path %>
